{% extends "base.html" %}

{% block title %}
  Success
{% endblock %}


{% block content %}

<div class="page-wrapper">
    <div class="row">

        <div class="col-md-12">
            <h1>Success </h1>
            <hr>
        </div>

        <div class="col-md-8">

            {% if first_name and subscribe_success == 'false' %}
              <h3 style="margin-top: 0px">
                Thanks {{ first_name }}! {{ message }}
              </h3>
              {% elseif message %}
              <h4 style="margin-top: 0px">
                {{ message }}
              </h4>
              {% if unsubscribe != 'true' %}
                <br><br><br><br>
              {% endif %}
            {% endif %}

            {% if subscribe_success == 'true' %}
              <h3 style="margin-top: 0px">
                Congratulations {{ first_name }} {{ last_name}}!
              </h3>
              <h4 style="margin-top: 15px">
                {{ subscribe_msg1 }}
              </h4>
              <p style="margin-top: 15px">
                {{ subscribe_msg2 }}
              </p>
              <p style="margin-top: 15px">
                {{ subscribe_msg3 }}
              </p>
              <h4 style="margin-top: 20px; font-weight:bold;">
                {{ subscribe_msg4 }}
              </h4>
              <h4 style="margin-top: 15px">
                <a href="/login">{{ subscribe_msg5 }}</a>
              </h4>
              <br><br><br><br>
            {% endif %}

            {% if unsubscribe == 'true' %}
              <h3 style="margin-top: 10px">
                {{ unsubscribe_message1 }}
              </h3>
              <p style="margin-top: 15px">
                {{ unsubscribe_message2 }}
              </p>
              <br><br><br><br>
            {% endif %}

            {% if contact_broker == 'true' %}
              <h3 style="margin-top: 0px">
                Thank you {{ first_name }} {{ last_name}}!
              </h3>
              <h4 style="margin-top: 15px">
                {{ contact_msg1 }}
              </h4>
              <p style="margin-top: 15px">
                {{ contact_msg2 }}
              </p>
              <h4 style="margin-top: 20px; font-weight:bold;">
                {{ contact_msg3 }}
              </h4>
              <br><br><br><br>
            {% endif %}

            {% if new_card_authorized == 'true' %}
              <h3 style="margin-top: 0px">
                Thank you {{ first_name }} {{ last_name}}!
              </h3>
              <h4 style="margin-top: 15px">
                {{ new_card_authorized1 }}
              </h4>
              <p style="margin-top: 15px">
                {{ new_card_authorized2 }}
              </p>
              <h4 style="margin-top: 15px">
                {{ new_card_authorized3 }}
              </h4>
              <br><br><br><br>
            {% endif %}

            {% if account_reactivated == 'true' %}
              <h3 style="margin-top: 0px">
                Thank you {{ first_name }} {{ last_name}}!
              </h3>
              <h4 style="margin-top: 15px">
                {{ account_reactivated1 }}
              </h4>
              <p style="margin-top: 15px">
                {{ account_reactivated2 }}
              </p>
              <h4 style="margin-top: 15px">
                {{ account_reactivated3 }}
              </h4>
              <h3 style="margin-top: 15px">
                <a href="/login">{{ account_reactivated4 }}</a>
              </h3>
              <br><br><br><br>
            {% endif %}

            {% if register_success == 'true' %}
              <h3 style="margin-top: 0px">
                Thank you {{ first_name }} {{ last_name}}!
              </h3>
              <h4 style="margin-top: 15px">
                {{ register_success1 }}
              </h4>
              <p style="margin-top: 15px">
                {{ register_success2 }}
              </p>
              <h3 style="margin-top: 15px">
                <a href="/login">{{ register_success3 }}</a>
              </h3>
              <h4 style="margin-top: 15px">
                {{ register_success4 }}
              </h4>
              <h4 style="margin-top: 15px">
                {{ register_success5 }}
              </h4>
              <br><br><br><br>
            {% endif %}

            {% if added_agent_success == 'true' %}
              <h3 style="margin-top: 0px">
                Congratulations {{ first_name }} {{ last_name}}!
              </h3>
              <h4 style="margin-top: 15px">
                {{ added_agent_success1 }}
              </h4>
              <p style="margin-top: 15px">
                {{ added_agent_success2 }}
              </p>
              <p style="margin-top: 15px">
                {{ added_agent_success3 }}
              </p>
              <h4 style="margin-top: 15px">
                <a href="/admin/brokers/add-new-agent?id={{ broker_id }}">{{ added_agent_success4 }}</a>
              </h4>
              <br><br><br><br>
            {% endif %}

        </div>

        <div class="col-md-4">

        </div><!-- // .col-md-4  -->
    </div><!-- // .row  -->
</div><!-- // .page-wrapper -->

{% endblock %}
