{% extends 'base-admin.html' %}

{% block title %}
  Admin | ABT
{% endblock %}

{% block css %}

{% endblock %}


{% block content %}
<div class="container-fluid">
  <img src="/assets/images/2.jpg" class="admin-bg"
    alt="American Biz Trader">
    <div class="row">
        <div id="dashboard-toggle" class="col-sm-12" style="margin-top:-20px;margin-left:244px;">
            <div class="dashboard-tips-wrapper">
                <h1 class="text-center" style="margin-top:0px;">
                  Welcome to American Biz Trader
                </h1>
                <h3 class="text-center" style="margin-top:0px;">
                  We&apos;re here to help you SELL. Your <a href="/contact?id=feedback">feedback</a> is welcome.
                </h3>
                <h3 style="margin-bottom:15px;">Admin Features:</h3>
                  <div class="admin-features-list">
                      <ul>
                        <li><span class="bold">Listing Manager:</span> One listing manager can easily create and manage ads for hundreds of agents.</li>
                        <li><span class="bold">Lead Generation:</span> All leads are automatically copied to the primary broker shown in your company profile as well as each individual agent.</li>
                        <li><span class="bold">Saved Leads:</span> All prospect leads for listings are stored in the “My Leads” tabl</li>
                        <li><span class="bold">Listings:</span> Post unlimited business or commercial real estate listings</li>
                        <li><span class="bold">Broker Profiles:</span> Brokers and Agents may advertise in the Brokers Directory and/or the Real Estate Brokers Directory</li>
                        <li><span class="bold">Locations:</span> Brokers and Agents may advertise in as many as five states.</li>
                        <li><span class="bold">Photos:</span> You may post up to six photos. All photos are automatically sized without any special photoshop knowledge. We even provided your first hi-resolution photo for you.</li>
                        <li><span class="bold">Listing Status:</span> Under contract, going on vacation? You may hide a listing at any time.</li>
                        <li><span class="bold">Sold Listings:</span> Sold listings are populated under your company and broker profile.</li>
                        <li><span class="bold">Search Engine Optimized:</span> What do we send to the Google Gods? Click edit and view the SEO tags for broker profiles and listings.</li>
                      </ul>
                  </div>
                <h3>Data Entry Services</h3>
                <p>
                    Need help? Do you lack the time, interest or personnel to post listings
                    or build Expert Profiles?
                </p>
                <p>
                    No worries. We&apos;ve got you covered. <a href="/contact?id=help-posting">Contact us</a>
                    and our customer care staff will be happy to help. We charge only
                    $5.00 each.
                </p>

            </div>


        </div><!-- // .col -->
    </div><!-- // .row -->
</div><!-- // .container-fluid -->
{% endblock %}


{% block bottomjs %}

{% endblock %}
