{% extends "base.html" %}

{% block title %}
    Home
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/assets/css/hovericons.css">
{% endblock %}

{% block outsidecontainer %}
    <div class="row">
        <div class="col-md-12">
            <div class="" id="image-container">
                <h1 class="full-width-bg-color raleway-font stroke">Browse American Biz Trader for...</h1>

                    <div class="home-image-text">
                        <h4 class="stroke">
                            . . . America&#39;s Best Businesses
                            and Real Estate for Sale or Lease Nationwide
                            <br>
                            All Listings represented by professional Business &amp;
                            Real Estate Brokers
                        </h4>
                        <h3 class="stroke">
                            We make owning your dream business a reality!
                        </h3>
                    </div>

            </div>
        </div><!-- // .col-md-12  -->
    </div><!-- // .row  -->
{% endblock %}


{% block content %}
  <div class="page-wrapper" style="margin-top:-119px;">

      <div class="row text-center">
          <div class="col-md-3 col-xs-6">
              <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">
                  <a href="/buy-a-business" class="hi-icon"></a>
              </div>
              <div class="box1">
                  <h4 class="text-center small-caps red-main-circle">
                      <a href="/buy-a-business">Buy a Biz</a>
                  </h4>
              </div><!-- // .box1  -->
          </div>

          <div class="col-md-3 col-xs-6">
              <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">
                  <a href="/sell-a-business" class="hi-icon"></a>
              </div>
              <div class="box1">
                  <h4 class="text-center small-caps red-main-circle">
                      <a href="/sell-a-business">Sell a Biz</a>
                  </h4>
              </div><!-- // .box1  -->
          </div>

          <div class="col-md-3 col-xs-6">
              <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">
                  <a href="/buy-lease-commercial-real-estate" class="hi-icon"></a>
              </div>
              <div class="box1">
                  <h4 class="text-center small-caps red-main-circle">
                      <a href="/buy-lease-commercial-real-estate">Biz Real Estate</a>
                  </h4>
              </div><!-- // .box1  -->
          </div>

          <div class="col-md-3 col-xs-6">
              <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">
                  <a href="/find-a-business-expert" class="hi-icon"></a>
              </div>
              <div class="box1">
                  <h4 class="text-center small-caps red-main-circle">
                      <a href="/find-a-business-expert">Biz Experts</a>
                  </h4>
              </div><!-- // .box1  -->
          </div>

      </div><!-- // .row  -->
  </div><!-- // .main-wrapper  -->
{% endblock %}
