<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {% block title %}

        {% endblock %}
    </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--  The above 3 meta tags *must* come first in the head; any other head
          content must come *after* these tags -->
    <meta name="description" content="
      {% block metadescription %}

      {% endblock %}
    ">
    <!-- Jim GWT acct -->
    <meta name="google-site-verification" content="OrnfKuDJGC1V2bjJTXObvzHcdAl8Zd3jmYAHf2-sh6A" />
    <!-- Dave GWT acct -->
    <meta name="google-site-verification" content="zpfoJX7Odx-j7P2q4_zLx3eOJajlgaKf7VFBN6wVf4U" />
    <meta name="msvalidate.01" content="6E7729FEBA94E8B2574AE1606EF95B0A" />
    <meta name="norton-safeweb-site-verification" content="kxf4tl7rq6u3s177t01upvnr7h345ltxrqrbsc8u13g2v8zgkmipn9ggd2f-g8jmyqu-k725tcx7s9yl7521ntfexxs8c1pz3vz5fct9fu51qmy2497dwb1z9gwlhljl" />
    <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon">
    <!-- ckeditor must be in head not just above closing body tag -->
    <script src="//cdn.ckeditor.com/4.6.2/standard/ckeditor.js"></script>

    {% block css %}

    {% endblock %}

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/home-page-image-styles.css">
    <link rel="stylesheet" href="/assets/css/jquery-ui.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">

    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,700|PT+Sans+Narrow:400,700|PT+Sans:400,700|Raleway:400,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Shadows+Into+Light+Two" rel="stylesheet">

    <!-- <link href='//fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>
    <link href="//fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300" rel="stylesheet"> -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <!-- Hotjar Tracking Code for americanbiztrader.com -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:426326,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script>
</head>
<body>

    {% include 'topnav.html' %}

    {% block outsidecontainer %}

    {% endblock %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
              {% block content %}




              {% endblock %}
            </div><!-- // .col -->
        </div><!-- // .row -->
    </div><!-- // .container -->


    <!-- footer -->
    <div id="bottom" class="bg-bottom text-center">
        <div class="container">
            <div class="row p1">
                <div class="col-md-12">
                    <div class="p1">
                        &copy; <script>var today = new Date();
                        document.write(today.getFullYear());</script>
                        AmericanBizTrader &nbsp;
                        | &nbsp; www.AmericanBizTrader.com &nbsp;
                        | &nbsp; All Rights Reserved &nbsp;
                        <!--| &nbsp; <a href="#"><i class="fa fa-envelope"></i> Email</a> &nbsp;-->
                        <!--| &nbsp; <a href="tel:5719896375"><i class="fa fa-phone"></i> 571-989-6375</a>&nbsp; -->
                        | &nbsp; <a href="/terms-conditions">Terms and Conditions</a> &nbsp;
                        <!--| &nbsp; <a href="#"> Privacy Policy</a> &nbsp;-->
                    </div>
                    <div class="p1">
                        <a class="footer-menu" href="/buy-a-business">Buy</a>
                        <a class="footer-menu" href="/sell-a-business">Sell</a>
                        <a class="footer-menu" href="/buy-lease-commercial-real-estate">Real Estate</a>
                        <a class="footer-menu" href="/find-a-business-expert">Experts</a>
                        <a class="footer-menu" href="/contact">Contact</a>
                        <a class="footer-menu" href="/register">Register</a>
                        <a style="padding-left: 8px;" href="/login">Log In</a>
                    </div>
                    <div id="social-bar">
                        <ul class="social-network social-circle">
                            <!--<li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>-->
                            <li><a href="https://www.facebook.com/americanbiztrader"  target="_blank" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/americanbiztrdr"  target="_blank" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <!--<li><a href="#" class="icoGoogle"  target="_blank" title="Google +"><i class="fa fa-google-plus"></i></a></li>-->
                            <li><a href="https://www.linkedin.com/company-beta/11063284" class="icoLinkedin"  target="_blank" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <p class="wmp">Web development by
                        <a href="http://www.webmediapartners.com" target="_blank" rel="follow">
                          Web Media Partners
                        </a>
                    </p>
                    <p>
                      <div class="sitelock">
                          <a href="#" onclick="window.open('https://www.sitelock.com/verify.php?site=americanbiztrader.com','SiteLock','width=600,height=600,left=160,top=170');" >
                            <img class="img-responsive" src="//shield.sitelock.com/shield/americanbiztrader.com">
                          </a>
                      </div>
                    </p>
                </div><!-- // .col-md-12 -->
            </div><!-- // .row -->
        </div>
    </div><!-- // #bottom  -->


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.js"></script>
    <script src="//use.fontawesome.com/6acf38a2cb.js"></script>
    {% if session.user == true and session.access_level == 2 %}
      <script src="//cdn.ckeditor.com/4.6.2/standard/ckeditor.js"></script>
      <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/ckeditor/4.5.10/ckeditor.js"></script> -->
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
      <script src="//code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    {% endif %}


    {% block bottomjs %}

    {% endblock %}

  {% include '/Quantcast/index.html' %}
  {% include '/Google/google-analytics.html' %}
  </body>
</html>
